
  
  
  <ion-content class="background" padding>
    <ion-grid>
      <ion-row id="col" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div text-center>
            <h3>WELCOME TO BLOCK</h3>
          </div>
<br>
        <ion-input type="text" placeholder="Nom d'utilisateur" id="username" [(ngModel)]="username"></ion-input>
    
      
   
        
        <ion-input type="password" placeholder="Mot de passe" id="pass" [(ngModel)]="password"></ion-input>
     <br>
<br>
<br>

  
      <ion-button fill="solid"  href="/liste-evenement" expand="block" color="danger" (click)="login()">Sign in</ion-button>
      <ion-button fill="solid" expand="block" color="primary" (click)="tryFacebookLogin()"><ion-icon name="logo-facebook"></ion-icon> Login with Facebook</ion-button>
      <ion-button fill="solid" href="/register" expand="block" color="light" (click)="login()">Sign up</ion-button>
      
    

  <ion-row class="forgotPassword">
    <span routerLink="/forget-password">Forgot your Password?</span>
    </ion-row>
    
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-content>