<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
       <ion-tab-button tab="clubs">
       <ion-icon name="wine"></ion-icon>
       <ion-label>Clubs</ion-label>  
       </ion-tab-button>

       
        <ion-tab-button tab="evenements">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Evénements</ion-label>  
        </ion-tab-button>

       
          <ion-tab-button tab="reservation">
          <ion-icon name="bookmarks"></ion-icon>
          <ion-label>Réservation</ion-label>  
          </ion-tab-button>

         
            <ion-tab-button tab="amis">
            <ion-icon name="people"></ion-icon>
            <ion-label>Amis</ion-label>  
            </ion-tab-button>

            
              <ion-tab-button tab="parametres">
              <ion-icon name="settings"></ion-icon>
              <ion-label>Parametres</ion-label>  
              </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>