<ion-header >
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
      <ion-title color="danger">Music Bar</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>


  <ion-list>
  <ion-item>
    <ion-label>Mon compte</ion-label>
    <ion-icon defaultHref="login" name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Historique de mes réservations</ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Feed back</ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Questions</ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Politique de confidentialité</ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Termes et conditions d'utilisation</ion-label>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-item>
  </ion-list>
  </ion-content>