<ion-header >
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
    <ion-title color="danger">Music Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <p class="text-center">Entrez votre adresse email ci-dessous et nous vous enveyons un email avec les instructions pour changer votre mot de passe.</p>
    <p class="text">Adresse e-mail</p>
    <ion-row class="formGroup">
      <input type="email" class="formControl"  #passwordResetEmail required>
    </ion-row>

    
  

  <ion-row class="redirectToLogin">
     <ion-button expand="block" color="danger" class="redirect">Envoyer</ion-button>
  </ion-row>
  

</ion-content>
