<ion-header>
    <ion-toolbar>
      <ion-title>Music Bar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
  

        <ion-item>
            <ion-input  name="name" type="text" placeholder="Nom d'utilisateur" [(ngModel)]="username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="email" type="email" placeholder="Adresse e-mail" [(ngModel)]="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Mot de passe " [(ngModel)]="password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="confirm" type="password" placeholder="Confirmer mot de passe" [(ngModel)]="cpassword" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-input name="Numéro" type="téléphone" placeholder=" Numéro de téléphone" [(ngModel)]="num" required></ion-input>
            </ion-item>
        
      
      </ion-list>
  
      
      <ion-button fill="solid" expand="block" color="danger" (click)="register()">Sign up</ion-button>
  </ion-content>